:root {
    --color-main: #fff;
    --color-primary: #A64531;
    --color-secondary: #779068;
    --color-darkbrown:#301718;
    --color-accent: #F8AA57;
    --color-headings:  #F8F5EC;
    --color-font: #F8DFB5;
    --color-background: #FEE7BE;
}

* {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    object-fit: cover;
    overflow-x: hidden;
}

h1,h2,h3 {
    color: var(--color-headings);
    margin-bottom: 3rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.container {
    background:linear-gradient( #fff, #fde7c1);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Navbar */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
}

.nav {
    background-color:transparent; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    align-items: center;
    transition: background-color 0.2s ease-in;
}

.logo{
    color: var(--color-primary);
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.logo:focus {
    outline: 0 ;
}

.nav__list {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: none;
}

.list__show {
    display: block;
}

.nav__item {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid rgba(166, 69, 49, 0.2);
}

.nav__item >a {
    color: var(--color-primary);
    transition: color 0.3s;
}

.nav__item >a:focus {
    outline: 0;
}

.nav__item >a:hover{
    color: var(--color-accent);
}

/* Icon */

.icon {
    color: var(--color-primary);
    font-size: 2.5rem;
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
    cursor: pointer;
}


@media screen and (min-width: 768px){
    .icon {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1.8rem;
        margin: 0;
    }

    .nav__item {
        border: 1px solid var(--color-primary);
        border-radius: 20px;
        margin-left: 1.2rem;
        font-weight: 600;
        transition: background-color 0.3;
        
    }
    .nav__item >a {
        color: var(--color-primary);
    }

    .nav__item:hover{
        background-color: var(--color-primary);
        border-radius: 20px;
    }
    .nav__item >a:hover {
        color: #fff;        
    }
}

/* Body Section */

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to top,#FEE7BE,transparent);
    mix-blend-mode: screen;
    z-index: 200;
}

section img {
    position: absolute;
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}   

.landscape {
    width: 100%;
    min-height: 100vh;
    top: 0;
    z-index: 11;
}

.btn {
    border-radius: 20px;
    border: 0;
    background-color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;   
    padding: 0.7rem 3rem;
    color: var(--color-main);
    transform: translateY(18rem);
    z-index: 100;
}

.btn:hover{
    border: 1px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-secondary);
}

@media screen and (min-width: 768px){
    section img {
        position: absolute;
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
    }  
    
    .landscape  {
        top: 0;
        width: 100%;
        max-height: 100%;
        
        z-index: 11;
    }
    
    
    .btn {
        border: 1px solid var(--color-secondary);
        border-radius: 20px;
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;   
        background-color: transparent;
        padding: 1rem 3.5rem;
        color: #779068;
        transform: translateY(30rem);
        z-index: 100;
    }
    
    .btn:hover{
        border: 0;
        background-color: var(--color-secondary);
        color: #fff;
    }
}

/* Content */

.content {
    width: 80%;
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: justify;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content p{
    color: var(--color-darkbrown);
    font-size: 1.7rem;
    line-height: 3rem;
    flex-grow: 1;
}

.content h2,h3{
    color: var(--color-primary);
    margin-top: 0;
    padding-top: 0;
}


@media screen and (min-width: 768px){    
    .content p{
        color: var(--color-darkbrown);
        line-height: 3rem;
    }
    
    .content h2,h3{
        color: var(--color-primary);
    }
}

/* Footer */

footer {
    background-color: var(--color-background); 
    padding: 20px;
    text-align: center; 
    font-family: "Montserrat", sans-serif; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.company__name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
}


.footer__text {
    color: var(--color-primary); 
    font-size: 1.8rem;
}

.footer__icons {
    margin-top: 3rem; 
       
}

.footer__icons a {
    text-decoration: none; 
    color: var(--color-primary); 
    margin: 1.7rem; 
    border: 1px solid var(--color-primary);
    padding: 1.3rem 1.3rem;
    border-radius: 10px;    
    font-size: 1.5rem;
}

.footer__icons a:hover {
    color: var(--color-main); 
    background-color: var(--color-primary);
}

@media screen and (min-width: 768px){   
    .footer__text {
        font-size: 1.5rem;        
    }
    
    .footer__icons a {
        text-decoration: none; 
        color: var(--color-primary); 
        margin: 1.7rem; 
        border: 1px solid var(--color-primary);
        padding: 1.3rem 1.3rem;
        border-radius: 10px;    
        font-size: 1.5rem;
    }
}