:root {
    --color-primary: #A64531;
    --color-secondary: #779068;
    --color-accent: #F8AA57;
    --color-headings:  #F8F5EC;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Navbar */

.nav {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.7rem;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

.nav__list {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: none;
}

.list__show {
    display: block;
}

.nav__item {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid var(--color-primary);
}

.nav__item >a {
    color: var(--color-primary);
    transition: color 0.3s;
}

.nav__item >a:hover{
    color: var(--color-headings);
}

/* Icon */

.icon {
    color: #fff;
    font-size: 2.5rem;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    cursor: pointer;
}


@media screen and (min-width: 768px){
    .icon {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1.6rem;
        margin: 0;
    }

    .nav__item {
        border: 0;
    }
}

/* Links */

a {
    text-decoration: none;
}